.wrap {
    display: flex;
    align-items: center;
}

.musicWrap {
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.musicWrap:hover {
    cursor: pointer;
}

.musicIcon {
    width: 30px;
    height: 30px;
}

.musicTitle {
    color: #fff;
    margin: 0px 10px 0px 10px;
    font-size: 15px;
}

.buttomIcon {
    width: 17px;
    height: 17px;
    margin-top: 5px;
}